
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.photos > div {
  display: grid;
  padding: 0rem;
  aspect-ratio: 1;
}

.photos > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

  .photos > div::before,
  .photos > div > img {
    grid-area: 1 / 1 / 1 / 1;
}

.photos > div > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
  }