/* 
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.photos > div {
  display: grid;
  padding: 0rem;
  aspect-ratio: 1;
}

.photos > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

  .photos > div::before,
  .photos > div > img {
    grid-area: 1 / 1 / 1 / 1;
}

.photos > div > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
  } */
  
.photos {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  line-height: 200px;
  margin: 5px;
  text-align: center;
  z-index: 1;
}

.item.muuri-item-dragging {
  z-index: 99;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.remove-item {
  position: absolute;

  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;

  padding: 5px;

  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;

  transition: all 0.3s ease-out;
}

.item-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;

  transition: all 0.3s ease-out;
}

/* Hover to remove */
.item-content:hover > img {
  opacity: 0.7;
  background-color: rgb(170, 170, 170);
}

.item-content:hover > .remove-item {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  z-index: 3;
}